.header-all {
  width: 100%;
  height: 61px;
  padding: 5px 0;
  background: #d0021b;
  color: aliceblue;
  
  position: fixed;
  z-index: 1000;
}

.header-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 0 6% 0 6%;
}

.logo {
  width: 10%;
  padding: 0 5% 0 5%;
  float: left;
}

.logo-shop {
  cursor: pointer;
  width: 100%;
}

.search {
  width: 30%;
  height: 80%;
  padding: 1% 0 0 5%;
  float: left;
  position: relative;
  /* Thêm để chứa nút tuyệt đối */
}

.input-search {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* Thêm viền */
  padding-right: 40px;
  /* Đảm bảo có đủ không gian cho nút */
  box-sizing: border-box;
  /* Đảm bảo padding không làm tăng kích thước */
  font-size: 14px;
  text-indent: 10px;
  /*cách chữ với lề của input*/
}

.button-search {
  position: absolute;
  right: 4px;
  top: 53%;
  transform: translateY(-50%);
  height: 34px;
  width: 65px;
  border: none;
  background: #d0021b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white;
  font-size: 20px;
}

.hotline {
  width: 12%;
  padding-left: 2%;
  float: left;
}

.icon-hotline {
  cursor: pointer;
  width: 25%;
  padding-top: 15%;
  font-size: 23px;
  float: left;
}

.phone-hotline {
  cursor: pointer;
  width: 75%;
  padding-top: 12%;
  float: left;
}

.avatar {
  width: 12%;
  padding-left: 1%;
  float: left;
}

.icon-avatar {
  cursor: pointer;
  width: 25%;
  padding-top: 12%;
  font-size: 29px;
  float: left;
}

.icon-data-avatar img {
  border-radius: 50%;
  width: 30px; /* Thay đổi kích thước nếu cần */
  height: 30px; /* Đảm bảo chiều cao và chiều rộng giống nhau để tạo thành hình tròn */
}
.content-data-avatar{
  margin-top: 8%;
  margin-left: 2%;
}

.account {
  cursor: pointer;
  width: 75%;
  padding-top: 12%;
  float: left;
}

.cart {
  width: 15%;
  float: left;
}

.button-cart {
  cursor: pointer;
  margin-top: 5%;
  border-radius: 10px;
  width: 70%;
  height: 45px;
  background: none;
  border: none;
  border: solid 2px white;
  position: relative;
  display: inline-block;
}

.icon-cart {
  width: 25%;
  padding-top: 6%;
  font-size: 25px;
  float: left;
  color: white;

}
.quantity-header-cart {
  position: absolute;
  top: -10px; /* Điều chỉnh giá trị này để căn chỉnh theo ý muốn */
  right: -10px; /* Điều chỉnh giá trị này để căn chỉnh theo ý muốn */
  background-color: red; /* Màu nền để làm nổi bật số lượng */
  color: white; /* Màu chữ */
  border-radius: 50%; /* Để làm số lượng hình tròn */
  width: 20px; /* Kích thước hình tròn */
  height: 20px; /* Kích thước hình tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Điều chỉnh kích thước chữ */
}

.text-cart {
  width: 75%;
  padding-top: 7%;
  float: left;
  color: white;
  padding-top: 10%;
}
.content-data-avatar {
  position: relative;
  width: 100%;
  background: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-selected {
    border-radius: 4px;
    cursor: pointer;
}

.options-container {
  display: none;
  position: absolute;
  background-color: rgb(211, 26, 26);
  z-index: 99;
  width: 90%;
  box-sizing: border-box;
  top: 100%;
  left: 0;
 
}

.select-wrapper:hover .options-container {
  display: block;
}

.option-avatar {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.option-avatar:hover {
  background-color: white;
  color: #d0021b;
}
.link-style{
  text-decoration: none;
  color: inherit;
}
