body {
    background: rgb(244, 244, 244);
    font-family: "Mulish", sans-serif !important;
    font-size: 13px;
}

.title-home {
    width: 92%;
    height: 30px;
    justify-content: center;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    margin-top: 80px;
}

.content-title {
    margin-top: 8px;
}

.home-container {
    float: left;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    min-height: 300px;
}

.home-left {
    float: left;
    width: 23%;
    min-height: 300px;
    background: white;
    border-radius: 5px;
}

.title-left {
    width: 80%;
    height: 10%;
    margin-left: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 17px;
    font-weight: bold;
}

.home-right {
    float: left;
    width: 75%;
    min-height: 300px;
    margin-left: 2%;
    background: white;
    border-radius: 5px;
}

.data-left {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.data-category {
    cursor: pointer;
    float: left;
    width: 40%;
    height: 30px;
    margin-left: 5%;
    margin-top: 6px;
    font-size: 13px;
}
.content-category{
    cursor: pointer;
    margin-bottom: 10px;
}

.search-product {
    margin-left: 15%;
    margin-top: 20px;
    width: 80%;
    height: 35px;
    /* background: rgb(244, 225, 225); */
    overflow: hidden;
}

.btn-search {
    min-width: 30px;
    font-size: 14px;
    padding: 10px;
    height: 35px;
    border-radius: 5px;
    border: solid rgb(208, 208, 208) 1px;
    background: white;
    /* border-color: #d0021b ;
    background: #d0021b ; */
    /* color: #fff; */
    margin-left: 10px;
    float: left;
}

.all-product {
    color: black;
    border: solid rgb(220, 220, 220) 1px;
    float: left;
    width: 197px;
    margin: 25px 0 0 15.5px;
    height: 350px;
    transition: box-shadow 0.2s ease;
}

.all-product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-product {
    width: 95%;
    height: 50%;
    margin: 5px;
    /* background: rgb(209, 209, 209);   */
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

.name-product {
    width: 95%;
    min-height: 45px;
    margin: 5px;
    font-size: 15px;
    float: left;
}

.price-product {
    width: 95%;
    min-height: 15px;
    margin: 5px;
    float: left;
    font-size: 16px;
    color: #e70303;
}

.ram-product {
    width: 40%;
    min-height: 10px;
    font-size: 11px;
    float: left;
}

.icon-ram {
    width: 25%;
    min-height: 10px;
    margin-left: 8%;
    font-size: 15px;
    float: left;
}

.data-ram {
    width: 65%;
    min-height: 10px;
    float: left;
    margin-top: 1%;
}

.cpu-product {
    width: 60%;
    min-height: 10px;
    font-size: 11px;
    float: left;
}

.icon-cpu {
    width: 17%;
    min-height: 10px;
    margin-left: 5%;
    font-size: 15px;
    float: left;
}

.data-cpu {
    width: 65%;
    min-height: 10px;
    float: left;
    margin-top: 1%;
}

.display-product {
    width: 95%;
    min-height: 10px;
    float: left;
    margin: 2px;
    font-size: 11px;
}

.icon-display {
    width: 10%;
    min-height: 10px;
    margin-left: 5px;
    font-size: 15px;
    float: left;
}

.data-display {
    width: 65%;
    min-height: 10px;
    float: left;
    margin-top: 1px;
}

.appearance-product {
    width: 95%;
    min-height: 10px;
    float: left;
    margin: 2px;
    font-size: 11px;
}

.icon-appearance {
    width: 10%;
    min-height: 10px;
    margin-left: 4px;
    font-size: 17px;
    float: left;
}

.data-appearance {
    width: 65%;
    min-height: 10px;
    float: left;
    margin-top: 3px;
}
.button-page{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #d0021b;
    color: white;
    margin-left: 41%;
    margin-top: 30px;
    margin-bottom: 30px;
} 
  .checkbox-category {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
.error-laptops{
    width: 100%;
    height: 40px;
    margin-top: 10%;
}
.icon-error-laptops{
    width: 3%;
    height: 50%;
    padding-top: 10px;
    float: left;
    font-size: 20px;
    padding-left: 40%;
    color: #e70303;
}
.content-error-laptops{
    width: 50%;
    height: 50%;
    padding-top: 13px;
    font-size: 15px;
    color: #e70303;
    float: left;
}