body {
    background: rgb(244, 244, 244);
    font-family: "Mulish", sans-serif !important;
    font-size: 13px;
}
.container-order{
    width: 92%;
    min-height: 300px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    float: left;
}
.order-left{
    width: 15%;
    height: 300px;
    float: left;
}
.order-left-data{
    width: 100%;
    min-height: 300px;
}
.order-right{
    width: 83%;
    min-height: 300px;
    margin-left: 2%;
    background: white;
    float: left;
}
.data-right{
    width: 96%;
    height: 100px;
    float: left;
    margin: 1% 2% 0 2%;
    border-bottom: solid 1px rgb(233, 233, 233);
}   
.data-key-order{
    font-weight: bold;
    width: 15%;
    height: 25%;
    float: left;
    padding-top: 4%;
    font-size: 14px;
}
.data-image-order{
    width: 10%;
    height: 75%;
    float: left;
}
.data-name-order{
    width: 25%;
    height: 25%;
    margin-left: 4%;
    float: left;
    padding-top: 3%;
    font-size: 17px;
}
.data-quantity-order{
    width: 10%;
    height: 25%;
    margin-left: 3%;
    float: left;
    padding-top: 4%;
    font-size: 14px;
}
.data-price-order{
    width: 15%;
    height: 25%;
    margin-left: 3%;
    float: left;
    padding-top: 4%;
    font-size: 17px;
    color: #e50100;
}
.data-status-order{
    width: 15%;
    height: 25%;
    float: left;
    padding-top: 4%;
}
.button-cancel-order{
    margin-top: -10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background: #e50100;
    color: white;
}
.button-reorder{
    margin-top: -10px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background: #e50100;
    color: white;
}
.search-status-order{
    width: 83%;
    min-height: 50px;
    margin-left: 2%;
    margin-bottom: 1%;
    background: white;
    float: left;
}
.data-order-status{
    cursor: pointer;
    width: 16.6%;
    padding-top: 18px;
    height: 32px;
    float: left;
    text-align: center;
    font-size: 15px;
    transition: background-color 0.4s ease;
}
.data-order-status :hover{
    background: white;
    color: #e50100;
}
.data-order-status.selected{
    font-weight: bold;
    background: white;
    color: #e03030;
    border-bottom: solid 3px #de4343 ;
}
.account-order{
    width: 80%;
    height: 30px;
    padding-top: 10px;

}
.image-account-order {
    width: 25%;
    height: 40px;
    float: left;

}
.image-account-order img{
  border-radius: 50%;
  width: 30px; /* Thay đổi kích thước nếu cần */
  height: 30px; /* Đảm bảo chiều cao và chiều rộng giống nhau để tạo thành hình tròn */
}
.content-account-order{
    padding-top: 10px;
    width: 70%;
    margin-left: 5px;
    height: 30px;
    float: left;
    font-size: 15px;
    
}

